body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url(../images/landscape_mountains_sun_140434_1920x1080.jpeg);
  background-size: cover;
  font-family: fantasy;
}



.header {
  text-align: center;
}

/* made some adjustments to styling */
.textarea {
  background: transparent;
  border-style: calc();
  resize: none;
  color: #000000;
  border-radius: px solid black;
  padding: 10px;
  font-family: serif;
  text-align: left;

}

.description {
  white-space: pre-wrap;

}

/* cleaning up and organizing my CSS, removing test trials */

.time-block {
  border-radius: 15px;
  text-align: middle;
  align-content: center;


}

.row {
  display: flex;
  flex-wrap: space-between;
  border: 5px;
  padding-top: 20px;
  border-color: #000000;
}

.hour {
  background-color: #ca7d19;
  color: white;
  border-top: 1px solid white;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}


.saveBtn {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ca7d19;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}


/*made adjustmentson my style of my buttons */



/* added @media to adjust to any screen 768px and below */
@media screen and (max-width: 768px),
screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
}