body {
    background-image: url(../images/landscape_mountains_sun_140434_1920x1080.jpeg);
    font-family: fantasy;
    font-size: 16px;
    align-items: center;
    line-height: 1;
}

.header {
    text-align: center;
}


textarea {
    background: transparent;
    border-style: calc();
    resize: none;
    color: #000000;
    border-radius: 40px solid black;
    padding: 10px;
    font-family: serif;
    text-align: center;

}

.btn {
    margin-left: 85%;
    color: black;
    background-color: white;
}

.date {
    text-align: center;
}

.time {
    text-align: center;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    border-radius: 15px;
    text-align: center;
    
    
}

.row {
    display: flex;
    flex-wrap: space-between;
    border-top: 1px transparent;
    align-items: center;
    padding-top: 20px;
    border-color: #000000;
   
   
}

.hour {
    background-color: rgb(202, 125, 25);
    color: #000000;
    border-style: 1px solid #000000;
    border-radius: 5px;
    border-width: 0ch;
   
    font-family: serif;
}

.past {
    background-color: #d3d3d3;
    color: black;
    font-family: serif;
}

.present {
    background-color: #8f241e;
    color: black;
    font-family: serif;
}

.future {
    background-color: #6f4f00;
    color: black;
    font-family: serif;
}



.saveBtn {
    border-left: 3px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(202, 125, 25);
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.5 ease-in-out;
    color: black;
}